
<h1>Inscription</h1>
<%- include ('./partials/messages') %>
<div class="main">
  <form action="/users/register" method="POST">
  <div>
      <label for="name">Login</label><br>
      <input
        type="login"
        name="login"
        placeholder="Login"
        value="<%= typeof login != 'undefined' ? login : '' %>"
    />

  </div>

  <div>
      <label for="email">Email</label><br>
      <input
        type="email"
        name="email"
        placeholder="Email"
        value="<%= typeof email != 'undefined' ? email : '' %>"
      />
    </div>
    <div >
      <label for="password">Mot de passe</label><br>
      <input
        type="password"
        name="password"
        placeholder="Mot de passe"
        value="<%= typeof password != 'undefined' ? password : '' %>"
      />
    </div>
    <div >
      <label for="password2">Confirmation du mot de passe</label><br>
      <input
        type="password"
        name="password2"
        placeholder="Confirmation du mot de passe"
        value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
      />
    </div>
    <button type="submit" class="btn btn-primary btn-block">
      Inscription
    </button>
  </form>
  <p >Vous avez déjà un compte? <a href="/users/login">Connexion</a></p>
</div>
